.product-scroller {
  /*height: 878px;*/


  height: 858px;
  overflow: hidden;
  margin-top: 96px;
  position: relative;

  * {
  	box-sizing: border-box;
  }
}

.product-scroller-content {}

.product-scroller-item {
  margin-bottom: 20px;
  color: #393939;
  line-height: 1.5;
  min-width: 350px;
  padding-bottom: 100px;
  /*min-height: 878px;*/
  min-height: 858px;
  margin-right: 300px;

  p {
    margin-right: 50px;
  }
}

.product-scroller-nav {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  flex: 1;
  list-style: none;
  border-left: 1px rgb(225, 225, 225) solid;
  padding-left: 10px;
  bottom: 86px;
  /*bottom: 114px;*/
  right: 100px;
  font-size: 20px;

  &>li {
    position: relative;
    cursor: pointer;

    &>span {
      padding-bottom: 20px;
      width: 100px;
      display: inline-block;
    }

    .list-item-circle{
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
      border: 2px solid #dfdfdf;
      position: absolute;
      left: -16px;
      top: 20%;
      /* display: inline-block; */
      background-color: #fff;
      z-index: 1;
    }

  }

  &>li:first {
    padding-left: 0;
  }

  &>li.current {
    color: #393939;
    font-weight: bold;
    &>i {
      width: 16px;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0.5px;
      display: flex;
      align-items: center;
    }
  }
  &>li:first-child{
    margin-top:-10px;
  }
  &>li:last-child:before {
    content: "";
    width: 1px;
    height: 100%;
    background-color:white;
    position: absolute;
    left: -11px;
    top: 19px;

  }
}

.product-scroller-nav>li .list-item-circle.active {
  background-color: #393939;
  border: 2px solid black;
}


/*.user-reviews-scroller{
  height: 778px;
  overflow:hidden;
}
*/
