.scroller-wrapper{
	height: 881px;
	overflow: hidden;
	margin-top: 96px;
}
    .scrollnav-tab-item {
        position: absolute;
        z-index: 1;    	
        padding: 0;
        margin: 0;
        flex: 1;
        list-style: none;
        border-left: 1px rgb(225,225,225) solid;
        padding-left: 10px;        
    }
    .tab-item-li {
        position: relative;
        cursor: pointer;
    } 
    .scrollnav-tab-item > li:first{
        padding-left: 0;
    }

    .scrollnav-tab-item > li.scrollnav-current {
        color: #393939;
        font-weight: bold;
    }
    .scrollnav-tab-item > li.scrollnav-current > i {
        width: 16px;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0.5px;
        display: flex;
        align-items: center;
    }          

    .tab-item-li > span {
        margin-bottom: 20px;
        width: 100px;
        display: inline-block;   

    }
    .tab-item-li>span.active-tab-item:before{
        background-color: #393939;
    }
    .tab-item-li>span:before{
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 100%;
        display: inline-block;
        border: 2px solid #dfdfdf;
        position: absolute;
        left: -16px;
        top:20%;
        background-color: white;
        z-index: 1;
    }
    .tab-item-li>span.active-tab-item:before{
        border: 2px solid black;
    }

    .scrollnav-tab-item > li:first-child>span:after,
    .scrollnav-tab-item > li:last-child>span:after{
        width: 1px;
        display: inline-block;
        position: absolute;
        left: -11px;
        z-index: 1;
        content: "";
        height: 100%;
        background-color: #fafafa;
    }

    .scrollnav-tab-item > li:last-child>span:after{
        height: 100%;
    }
    .scrollnav-tab-item>li:first-child>span:after{
        height: 28px;
    }    

    .scrollnav-tab {
        /* bottom: 52px; */
        bottom: 86px;
        right: 100px;  
        font-size: 20px;   
    }  
    
    .scrollnav-tab-item > li:first-child>span:after{
        top: -14px;
    }
    .scrollnav-tab-item > li:last-child>span:after{    
        top: 41%;
    }      