.product-container {
    display: flex;
    /* margin-bottom: 100px; */
}
.product-photo-container {
    position: relative;
    flex: 0 0 35.21%
}
.product-code {
    height: 24px;
    font-size: 20px;
    color: #c8c8c8;
    display: inline-block;
    margin-bottom: 6px;
}
.product-price-container{
    display: flex;
    font-weight: 700;
}
.product-name {
    flex:1;
    color: #393939;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    padding-right: 130px;
}
.product-price-mark {
    text-align: center;
    margin-right: 50px;
}
.product-price-discount ,
.product-price-noDiscount{
    display: block;
}

.product-price-discount{
    color: #ffffff;
    background-color: #fe0000;
}
.product-price-noDiscount{
    color: #393939;
   background-color: #feea27;
}

.product-price-decimal {
    margin-left: -6px;
}
.product-price-original {
    line-height: 1;
    color: #393939;
    display: inline-block;
    text-decoration: line-through;
}
.price-discount-off {
    line-height: 1;
    color: #fe0000;
    display: inline-block; 
}
.product-color-selected{

    font-weight: 700;
    color: #5f5f5f;
    display: inline-block;   
}


.product-color-list li+li{
    margin-left: 16px;
}
.product-color-item {
    background: gray;
    border: 2px solid #c8c8c8;
    float: left;
    cursor: pointer;
    position: relative;
}
.product-color-item img{
    height: 100%;
    width: 100%;
}
.product-color-item.selected {
    border:2px solid #0082c3;
}
.product-color-item .icon-check {
    color: #fff;
    font-size: 22px;
    width: 22px;
    height: 22px;
    background: #0082c3;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.size-label {
    display: block;
}
.size-mark{  
  font-weight: bold;
  line-height: 1;
  color: #5f5f5f;
}
.size-access {
    line-height: 1;
    color: #5f5f5f;
    margin-left: 6px;
}
.product-size-option{
	font-size:0;
}
.product-size-wrapper{
    display: flex;
}
.product-size-select,
.product-dimensional-code{
    background-color: #ffffff;
    border: solid 2px #c8c8c8;
    display: inline-block;
}

.product-size-select {
    flex:1;
    vertical-align: top; 
}

.product-dimensional-code {
    cursor: pointer;
    position: relative;
}

.product-dimensional-code .icon-close{
    background: #fff;
}

.product-QR-code{
    background: #fff;
    position: absolute;
    bottom: 116%;
    right: 0;
}
.zIndex1{
    z-index: 1;
}
.product-QR-code p{
    font-weight: 700;
    line-height: 1.31;
    color: #393939;
    display: inline-block;
    vertical-align: top;
}
.QR-code-img{
    display: inline-block;
    border: 1px solid #e6e6e6;
}
.QR-code-img img{
    width: 100%;
    height: 100%;    
}
.code-tip {
    position: absolute;
    top: -52px;
    right: 0;
    width: 230px;
    text-align: center;
    font-size: 20px;
    text-align: right;
    color: #0082c3;
    background-color: #d2f0ff;
    line-height: 36px;
    border-radius: 8px;
    display: inline-block;
    padding: 0 10px;
}
.code-tip:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid #d2f0ff;
    border-top: 14px solid #d2f0ff;
    position: absolute;
    bottom: -12px;
    right: 20px;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
}
.product-shadow {
    height: 100%;
    width: 100%;
    background: gray;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.6;
}
.product-description {
    position: relative;
    flex: 1;
    background-color: #fafafa;
    /* height:100%; */
    /* flex: 0 0 61.14%; */
    /* padding: 1.3rem 0 0 1.6rem; */
}	
.product-info-title{
  font-size: 32px;
  font-weight: bold;
  font-stretch: condensed;
  height: 38px;
  color: #393939;
  padding: 66px 0 0 80px;  
}
.product-info-title:after{

    content: "";
    height: 0;
    display: block;
    background: #393939;
	border: 3px solid #393939;
}
.scroll-nav-panel {
    height: 100%;
}
.panel-cell-wrapper {

    margin-bottom: 20px;
    color: #393939;
    line-height: 1.5;
    margin-right: 220px;
    min-width: 350px;  
    height: 100%;
    padding-top: 200px;    

}


.panel-designed-for{
	font-size: 40px;
	padding-top: 400px;
}
.panel-cell-info-wrapper{
	flex: 1;
	margin-top: 6px;
	margin-left: 6px;
}
/*Product Benefits*/
.product-benefits-item {
    width: 40%;
    vertical-align: top;
    display: inline-block; 
}

.marginBottom0{
    margin-bottom: 0;
}


.benefits-points{
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #0082c3;

}

.benefits-points-content{
  line-height: 1.25;
  color: #393939;
  margin-top: 20px;
  font-size: 24px;
}

/*USER REVIEW*/
.product-scorce-wrapper {
  padding-bottom: 32px;
}
.product-scorce-wrapper .rate{
    display: inline-block;
}

.user-review-count{
    color:#393939;
    font-weight: bold; 
}
.user-review-content{
	margin-bottom: 60px;
}

.review-created-on {
    color: #898989;
}
.review-created-date{
    margin-right: 20px;
}
.review-content {
    line-height: 1.25;
}
/*Techlonogy Information*/

.information-queation{
    font-weight: bold;
}

.information-answer{
    line-height: 1.25;
  }


@media only screen and (min-width:1600px){
    .product-photo-container {
        padding-top: 1.87%;
        padding-left: 3.64%; 
    }    
    .product-code {    
        height: 24px;
        font-size: 20px;
        margin-bottom: 6px;
    }
        
    .product-name {
        font-size: 32px;
        height: 78px;
        padding-right: 130px; 
    } 
    .product-price-mark{
        width: 134px;
        height: 80px;
        line-height: 50px;     
    }    

    .product-price-discount ,
    .product-price-noDiscount{
        font-size: 32px;
        line-height: 32px;
        padding-top: 6px;
        padding-bottom: 6px;        
    }    

    .product-price-decimal {
        font-size: 20px;
    }

    .product-price-original,
    .price-discount-off {
        height: 20px;
        font-size: 20px; 
        
    }
    .product-color-selected{
        height: 24px;
        font-size: 20px;
        margin-bottom: 16px;        
    }  
    .product-color-option{
        padding-top: 30px;
    }   
    .product-color-list {

        height: 60px;
        margin-bottom: 20px;
    }     
    .product-size-option{
        margin-right: 50px;
    }
    .product-color-item {
        height: 58px;
        width: 58px;
    }
    .product-photo-carousel{
        margin-bottom: 32px;
    }    
    .size-mark,.size-access{
        font-size: 20px;
    }

    .product-size-select,
    .product-dimensional-code{
        margin-top: 18px;       
    }    

    .product-size-select {
        height: 68px;
        margin-right: 18px;
    }    
    .code-tip{
        top: -52px;
        width: 230px;
        font-size: 20px;
        line-height: 36px;
        padding: 0 10px;
    }
    .QR-code-img{
        width: 164px;
        height: 164px;
        padding: 14px;
    }
    .product-dimensional-code {
        width: 48px;
        height: 48px ;
        padding: 10px;  
    }
    .product-dimensional-code i{
        font-size: 48px;
    }
    .product-QR-code{
        width: 578px;
        height: 204px;
        padding: 58px 24px 58px 30px;
    }

    .product-QR-code p{
        width: 360px;
        height: 168px;
        margin-right: 24px;
        font-size: 32px;
    }    
    .product-info-title{
      font-size: 32px;
      height: 38px;
      padding: 66px 0 0 80px;  
    }  

    .product-info-title:after{
        width:74px;
        margin-top: 20px;
    } 

    .panel-cell-wrapper p{
        margin-right: 50px;
    }
    .panel-designed-for{
        font-size: 40px;
        padding-top: 400px;
    }    
    .panel-designed-for:after{
        margin-top: 20px;
        width:80px;
    }  

    .product-benefits-item {
        margin-right: 42px;
        margin-bottom: 80px;
    }

    .product-scorce-wrapper .rate{
        margin-right: 42px; 
    }   

    .user-review-count{
        font-size: 32px;
    }

    .review-created-on {
        height: 58px;
        font-size: 20px;
        margin-bottom: 20px;  
    }    
    .review-content{
        font-size: 40px;
    } 
    .information-wrapper {
        margin-bottom: 90px;
    }

    .information-queation{
        font-size: 32px;
        margin-bottom: 20px;
    }  
    .information-answer{
        font-size: 24px;
    }      
}   


@media only screen /* and (min-width:1080px) */and (max-width:1600px){ 
    .product-photo-container {
        padding-top: 1.27%;
        padding-left: 3.04%;    
    }    
    .product-code {    
        height: 18px;
        font-size: 16px;
        margin-bottom: 2px;
    }
    .product-name {
        font-size: 20px;
        height: 52px;
        padding-right: 80px;
    }    
    .product-price-mark{
        width: 106px;
        height: 70px;
        line-height: 42px;        
    }
    .product-price-discount ,
    .product-price-noDiscount{
        font-size: 26px;
        line-height: 26px;
        padding-top: 6px;
        padding-bottom: 6px;        
    } 
    .product-price-decimal {
        font-size: 18px;
    }
    .product-price-original,
    .price-discount-off {
        height: 20px;
        font-size: 17px; 
        
    }    

    .product-color-selected{
        height: 18px;
        font-size: 15px;
        margin-bottom: 12px;
    }
    .product-color-option{
        padding-top: 16px;
    }    
    .product-color-list {
        height: 48px;
        margin-bottom: 12px;
    }      
    .product-size-option{
        margin-right: 40px;
    }

    .product-color-item {
        height: 46px;
        width: 46px;
    }

    .product-photo-carousel{
        margin-bottom: 24px;
    }  
    .size-mark,.size-access{
        font-size: 18px;
    }  
    .product-size-select,
    .product-dimensional-code{
        margin-top: 12px;      
    }     
    .product-size-select {
        height: 50px;
        margin-right: 16px;
    }    
    .code-tip{
        font-size: 16px;
        width: 183px;
        line-height: 30px;
        padding: 0 7px;
        top: -43px;
        right: -6px;     
    }
    .QR-code-img{
        width: 120px;
        height: 120px;
        padding: 14px;    
    }    
    .product-dimensional-code {
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    .product-dimensional-code i{
        font-size: 40px;
    } 

    .product-QR-code{
        width: 456px;
        height: 146px;
        padding: 48px 20px 48px 22px;    
    }
    .product-QR-code p{
        width: 276px;
        height: 168px;
        margin-right: 18px;
        font-size: 24px;
    }
    .product-info-title{
        font-size: 28px;
        height: 32px;
        padding: 46px 0 0 58px;        
    }  
    .product-info-title:after{
        width:74px;
        margin-top: 16px;
    } 
    .panel-designed-for{
        font-size: 32px;
        padding-top: 300px;        
    }  


    /* right */
    .panel-cell-wrapper p{
        margin-right: 40px;
    }    
    .product-benefits-item {
        margin-right: 32px;
        margin-bottom: 64px;
    }  
    .product-scorce-wrapper .rate{
        margin-right: 32px;  
    }

    .user-review-count{
        font-size: 25px;
    }   
    .review-created-on {
        height: 47px;
        font-size: 16px;
        margin-bottom: 16px;    
    }
    .review-content{
        font-size: 32px;
    }

    .information-wrapper {
        margin-bottom: 72px;
    }  

    .information-queation{
        font-size: 25px;
        margin-bottom: 16px;
    }

    .information-answer{
        font-size: 20px;
    }    
}


/* @media only screen and (min-width:480px) and (max-width:1080px){ 
    .p-level1{
            font-size: 80px;
    }
    .p-level2 {
        font-size: 40px;
    }
    .product-index .icon-arrow-down{
        font-size: 40px;
    }   
} */