.transition-page {
  transform: translate(0, -1080px);
  transition: 0.5s ease-out transform;
}

.product-index {
  text-align: center;
  color: #fff;
  width: 38.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url('../../../assets/img/index-bg.svg') #0082c3 no-repeat center center fixed;
}

.p-level1 {
  text-shadow: 1vmin 1vmin 0 rgba(0, 72, 122, .4);
  font-weight: 700;
  line-height: .94;
  font-style: italic;
  font-stretch: condensed;
}

.p-level2 {
  font-weight: 400;
  line-height: 1.1;

  font-style: italic;
  font-stretch: condensed;
  text-align: center;
}

.product-index .icon-arrow-down {
  text-shadow: 7px 5px 0 rgba(0, 72, 122, 0.4);
  display: inline-block;
  font-size: 96px;
  font-weight: bold;
  cursor: pointer;
}

.transition-icon {
  transform: translate(0, 10px);
  transition: 0.8s ease transform;
}

.transition-icon-up {
  transform: translate(0, 0);
  transition: 0.8s ease transform;
}

.padding-top10 {
  padding-top: 20vmin;
}

.p-level1 {
  font-size: 17.6vmin;
}

.p-level1-row2 {
  margin-bottom: 3vmin;
}

.p-level2 {
  font-size: 9.8vmin;
}

.product-index .icon-arrow-down {
  font-size: 8.6vmin;
  padding-top: 10vmin;
}
