.transition-page-en {
  transform: translate(0, -100%);
  transition: 0.5s ease-out transform;
}
.transition-page-zh {
  transform: translate(-100%,0);
  transition: 0.5s ease-out transform;
}

.product-index {
  text-align: center;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image:url('../../../assets/img/index-bg.svg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
 
}

.p-level1 {
  text-shadow: 1vmin 1vmin 0 rgba(0, 72, 122, .4);
  font-weight: 700;
  line-height: .94;
  font-style: italic;
  font-stretch: condensed;
}

.p-level2 {
  font-weight: 400;
  line-height: 1.1;
  font-style: italic;
  font-stretch: condensed;
}

.p-level1-en{
  font-size: 17.6vmin;
  
}
.p-level2-en{
  text-align: center;
  font-size: 9.8vmin;
  padding-top:5vmin;
}

.p-level1-zh{
  font-size: 13.6vmin;
}

.p-level2-zh{
  font-size: 8vmin;
  text-align: right;
  margin-right: 27vmin; 
  margin-top: 10vmin;
}


.transition-icon{
  cursor:pointer;
}
.transition-icon-down{
  transition: 0.8s ease transform;
  transform: translate(0, 10px);
}

.transition-icon-up {
  transition: 0.8s ease transform;
  transform: translate(0, 0);
}

.transition-icon-right{
  transition: 0.8s ease transform;
  transform: translate(10px, 0);
}

.transition-icon-left {
  transition: 0.8s ease transform;
  transform: translate(0, 0);
}

.padding-top1 {
  padding-top: 30vmin;
}

.padding-top-arrowDown {
  padding-top:6vmin; 
}
.padding-top2 {
  padding-top: 36vmin;
}

.p-level1-row2 {
  margin-bottom: 3vmin;
}

.product-index i {
  text-shadow: 7px 5px 0 rgba(0, 72, 122, 0.4);
  display: inline-block;
  font-size: 8.6vmin;
  font-weight: bold;
  cursor: pointer; 
}
.p-level2-zh i{
  padding-left:6vmin
}
.p-level2-en i{
  padding-top: 10vmin;
}
