/* This the application level css that will be global to all application module */

/*@import "./assets/styles/font-awesome.min.css";*/
@import "./reset.css";
@import './assets/fonts/font.css';
@import './assets/dkn-icon/style.css';
/*the whole page's scroll bar style*/


 body{
  font-family: Roboto;
  width: 100%; 
 }
.as-mainwrapper {
  height: 100%; 
  width: 100%;
}
