@font-face {
  font-family: 'dkn-icon';
  src:  url('fonts/dkn-icon.eot?4o5squ');
  src:  url('fonts/dkn-icon.eot?4o5squ#iefix') format('embedded-opentype'),
    url('fonts/dkn-icon.ttf?4o5squ') format('truetype'),
    url('fonts/dkn-icon.woff?4o5squ') format('woff'),
    url('fonts/dkn-icon.svg?4o5squ#dkn-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dkn-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
  /* color */: #fff;
}
.icon-close:before {
  content: "\e901";
  /* color */: #fff;
}
.icon-arrow-down:before {
  content: "\e902";
  /* color */: #fff;
}
.icon-down:before {
  content: "\e903";
  /* color */: #fff;
}
.icon-right:before {
  content: "\e905";
  /* color */: #fff;
}
.icon-arrow-right:before {
  content: "\e906";
  /* color */: #fff;
}
.icon-star:before {
  content: "\e907";
  /* color */: #fff;
}
.icon-up:before {
  content: "\e908";
  /* color */: #fff;
}
